p {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.post {
    display: flex;
    width: 410px;
    padding: 10px;
}

.avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

.top {
    display: flex;
    margin-bottom: 5px;
}

.nickname {
    font-weight: bold;
    margin-right: 5px;
}

.alias,
.website {
    color: rgb(128, 128, 128);
}

.message {
    line-height: 20px;
    margin-bottom: 10px;
}

.link {
    display: flex;
    align-items: center;
    border: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 15px;
    overflow: hidden;
}

.thumbnail {
    width: 100px;
    height: 100px;
    background-color: rgb(128, 128, 128);
    margin-right: 10px;
}

.details {
    flex: 1;
}

.website {
    margin-bottom: 8px;
}