div {
    font-family: Arial, Helvetica, sans-serif;
}

.server-list {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgb(25, 27, 30);
    width: 70px;
    padding: 20px 10px;
}

.server-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 5px;
}

.channels {
    position: fixed;
    top: 0;
    left: 70px;
    bottom: 0;
    background-color: rgb(42, 44, 48);
    color: rgb(150, 150, 150);
    width: 140px;
    padding: 20px;
}

.channel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 15px;
}

.name {
    color: rgb(223, 223, 223);
    font-size: 14px;
}

.create-chat {
    font-size: 25px;
}

.chat {
    margin-bottom: 16px;
}